// module


// Navigation Tabs
#extension_options_wrapper .navi_tab,
#main_wrapper .navi_tab {
  @include border-top-right-radius();
  @include border-top-left-radius();
  border: none;
  border-right: 1px solid #ccc;
  background-image: none;
  background-color: $button-silver-light-color;
  color: $button-silver-font-color;
  margin-top: 5px;
}

#extension_options_wrapper .navi_tab.tab_active,
#main_wrapper .navi_tab.tab_active {
  @include background-image(linear-gradient($button-blue-light-color, $button-blue-medium-color) !important);
  border: 1px solid $button-blue-light-color !important;
  background-color: $button-blue-medium-color;
  color: $button-blue-font-color; 
  margin-top: 0;
}

// Container
#main_wrapper #main {
  @include border-top-right-radius();
}

// Main inline fieldset
#main_wrapper .module {
  padding: 0;
  box-shadow: none;
  -webkit-box-shadow: none;

  h2 {
    @include border-top-right-radius();
    @include border-top-left-radius();
    background-image: none;
    border-bottom: 1px solid $line-color-light;
    color: $font-color;
    font-size: 100%;
    margin-bottom: 2px;
    margin-top: 0;
    padding: 10px;
    background-color: #fff;
  }
  .form-row {
  }
  span.modname {
    font-size: 16px;
    margin-left: 14px;
  }
  span.collapse {
    color: $font-color;
  }
  .item-delete {
    content: '';
    width: 11px;
    height: 11px;
    margin: 7px 9px 0 0;
    background-image: url('../img/icon_deletelink.png');
  }
  span.handle {
    height: 14px;
    width: 9px;
    margin: 13px 7px;
    background-image: url('../img/icon_menu_gray.png');
  }
  .item-controls {
    height: 40px;  
    border-top: 1px solid #ddd;
    background: url('../img/icon_cogs.png') no-repeat 16px center;
  }
  .item-control-units {
    margin-left: 15px;

    input[type="button"] {
      @include button-gray();
      padding: 4px 8px 4px !important;
    }
  }
}

// Highlight when dragging fieldset
#main_wrapper .highlight {
  @include border-radius();
  background-image: none;
  opacity: 1;
  background-color: #e0e0e0;
  border: 1px dashed #5e5e5e;
}
#main_wrapper .helper h2 {
  @include border-radius();
  padding: 5px 10px;
  border: 1px solid #afafaf;
}

// 'Add new' control
#main_wrapper .machine-control {
  @include border-bottom-left-radius();
  @include border-bottom-right-radius();
  background-color: #fff;

  .control-unit {
    input[type="button"] {
      @include button-blue();
      padding: 4px 8px 4px !important;
    }
  }
}

// Popup dialog
#popup_container {
  @include border-radius();

  #popup_title {
    color: white;
    background-image: none;
    border: none;
    border-bottom: none;
    cursor: default;
    padding: 7px 0;
    margin: 0em;
    background-color: #464B50;
  }

  #popup_content {
    background-image: url('../img/notification.png');
    &.confirm {
      background-image: url('../img/warning.png');
    }

    #popup_ok {
      @include button-blue();
    }
    #popup_cancel {
      //@include button-green();
    }
  }
}


/*#main_wrapper .order-machine fieldset.module > h2 {
  @include border-top-right-radius();
  @include border-top-left-radius();
  color: $font-color-white;
  background-image: none;
  background-color: $background-color-dark;
  padding: 0 5px 0 17px;
  font-weight: normal;
}*/

/*#main_wrapper .order-item .collapse {
  color: $font-color-white;
}*/

